---
version: '3'
services:
  zk1:
    image: confluentinc/cp-zookeeper:latest
    container_name: zk1
    ports:
      - '22181:22181'
    environment:
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_CLIENT_PORT: 22181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_SERVERS: 'zk1:22888:23888;zk2:32888:33888;zk3:42888:43888'
      KAFKA_JMX_PORT: 8989
      KAFKA_JMX_HOSTNAME: zk1

  zk2:
    image: confluentinc/cp-zookeeper:latest
    container_name: zk2
    ports:
      - '32181:32181'
    environment:
      ZOOKEEPER_SERVER_ID: 2
      ZOOKEEPER_CLIENT_PORT: 32181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_SERVERS: 'zk1:22888:23888;zk2:32888:33888;zk3:42888:43888'
      KAFKA_JMX_PORT: 8989
      KAFKA_JMX_HOSTNAME: zk2

  zk3:
    image: confluentinc/cp-zookeeper:latest
    container_name: zk3
    ports:
      - '42181:42181'
    environment:
      ZOOKEEPER_SERVER_ID: 3
      ZOOKEEPER_CLIENT_PORT: 42181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_SERVERS: 'zk1:22888:23888;zk2:32888:33888;zk3:42888:43888'
      KAFKA_JMX_PORT: 8989
      KAFKA_JMX_HOSTNAME: zk3

  k1:
    image: confluentinc/cp-kafka:latest
    container_name: k1
    depends_on:
      - zk1
      - zk2
      - zk3
    ports:
      - '19092:19092'
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zk1:22181,zk2:32181,zk3:42181'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://k1:19092'
      KAFKA_JMX_PORT: 8989
      KAFKA_JMX_HOSTNAME: k1

  k2:
    image: confluentinc/cp-kafka:latest
    container_name: k2
    depends_on:
      - zk1
      - zk2
      - zk3
    ports:
      - '29092:29092'
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_ZOOKEEPER_CONNECT: 'zk1:22181,zk2:32181,zk3:42181'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://k2:29092'
      KAFKA_JMX_PORT: 8989
      KAFKA_JMX_HOSTNAME: k2

  k3:
    image: confluentinc/cp-kafka:latest
    container_name: k3
    depends_on:
      - zk1
      - zk2
      - zk3
    ports:
      - '39092:39092'
    environment:
      KAFKA_BROKER_ID: 3
      KAFKA_ZOOKEEPER_CONNECT: 'zk1:22181,zk2:32181,zk3:42181'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://k3:39092'
      KAFKA_JMX_PORT: 8989
      KAFKA_JMX_HOSTNAME: k3

  jmxtrans:
    build:
      context: .
      args:
        JMXTRANS_VERSION: 270
    container_name: jmxtrans
    depends_on:
      - zk1
      - zk2
      - zk3
      - k1
      - k2
      - k3
    volumes:
      - ~/.aws:/root/.aws
    environment:
      SECONDS_BETWEEN_RUNS: 10
      JMXTRANS_ENV: local
      JMXTRANS_HOSTS: zookeeper#zk1:8989,zk2:8989,zk3:8989|kafka#k1:8989,k2:8989,k3:8989
