---
AWSTemplateFormatVersion: '2010-09-09'

Description: Creates an ECS Kafka Service and Task

Parameters:
  Cluster:
    Description: ECS Cluster
    Type: String
  StackName:
    Description: The Parent Stack Name
    Type: String
  Cpu:
    Description: CPU (1024 = 1 core)
    Type: Number
    Default: 1024
  Memory:
    Description: Memory
    Type: Number
    Default: 4096
  DataVolumeMountPath:
    Description: Path to directory for mounting data
    Type: String
    MinLength: 1
    ConstraintDescription: Must be a valid folder path
  BrokerId:
    Description: Broker Id
    Type: Number
  BrokerName:
    Description: The name of the broker. Used to register a dns entry in route53
    Type: String
  DomainName:
    Description: The domain under which the broker will register its advertised address. (HostedZoneName)
    Type: String 
  ZookeeperConnectionString:
    Description: Connection string for Zookeeper Cluster
    Type: String
  ZookeeperSecurityGroup:
    Description: Security Group to allow access to ZK
    Type: String  
  ClientPort:
    Description: Kafka client port
    Type: Number
    Default: 9092
  JMXPort:
    Description: JMX Port to expose metrics on
    Type: Number
    Default: 8989
  LogGroup:
    Description: Log Group
    Type: String
  SecurityGroup:
    Description: Security Group
    Type: AWS::EC2::SecurityGroup::Id
  SubnetId:
    Description: SubnetId
    Type: AWS::EC2::Subnet::Id

Resources:
  BrokerNodeTaskDefinition:
    Type: 'AWS::ECS::TaskDefinition'
    Properties:
      NetworkMode: awsvpc
      ContainerDefinitions:
      - Name: broker
        Image: loyaltyone/cp-kafka:0.1-beta
        Cpu: !Ref 'Cpu'
        MemoryReservation: !Ref 'Memory'
        User: root
        DockerLabels:
          'discovery.service.name': !Sub '${BrokerName}${BrokerId}'
        Environment:
          - Name: KAFKA_BROKER_ID
            Value: !Ref 'BrokerId'
          - Name: KAFKA_ZOOKEEPER_CONNECT
            Value: !Ref 'ZookeeperConnectionString'
          - Name: KAFKA_ADVERTISED_LISTENERS
            Value: !Sub 'PLAINTEXT://${BrokerName}${BrokerId}.${DomainName}:${ClientPort}'
          - Name: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
            Value: 2
          - Name: KAFKA_JMX_HOSTNAME
            Value: !Sub '${BrokerName}${BrokerId}.${DomainName}'
          - Name: KAFKA_JMX_PORT
            Value: !Ref 'JMXPort'
          - Name: KAFKA_LOG4J_LOGGERS
            Value: 'kafka.controller=WARN,state.change.logger=WARN'
        PortMappings:
          - ContainerPort: !Ref 'ClientPort'
            HostPort: !Ref 'ClientPort'
          - ContainerPort: !Ref 'JMXPort'
            HostPort: !Ref 'JMXPort'
        MountPoints:
          - SourceVolume: data
            ContainerPath: /var/lib/kafka/data
          - SourceVolume: secrets
            ContainerPath: /etc/kafka/secrets
        LogConfiguration:
          LogDriver: awslogs
          Options:
            awslogs-group: !Ref 'LogGroup'
            awslogs-region: !Ref 'AWS::Region'
            awslogs-stream-prefix: !Sub 'node${BrokerId}'
      Volumes:
        # It's probably not a good idea to change these mounts and deploy against a live
        # cluster in production.
        - Name: data
          Host:
            SourcePath: !Sub '${DataVolumeMountPath}/broker/${BrokerId}/data'
        - Name: secrets
          Host:
            SourcePath: !Sub '${DataVolumeMountPath}/broker/${BrokerId}/secrets'
      Family: !Sub '${StackName}-broker-${BrokerId}'
      - Name: jmxtrans
        Image: loyaltyone/jmxtrans:0.1-beta
        Cpu: '512'
        MemoryReservation: '2048'
        Environment:
          - Name: SECONDS_BETWEEN_RUNS
            Value: 10
          - Name: JMXTRANS_ENV
            Value: aws
          - Name: JMXTRANS_HOSTS
            Value: !Sub 'zookeeper#localhost:${JMXPort}'
        LogConfiguration:
          LogDriver: awslogs
          Options:
            awslogs-group: !Ref 'LogGroup'
            awslogs-region: !Ref 'AWS::Region'
            awslogs-stream-prefix: !Sub 'kafka{BrokerId}'
      Family: !Sub '${StackName}-jmx-kafka${BrokerId}'      
  BrokerNodeService:
    Type: 'AWS::ECS::Service'
    Properties:
      ServiceName: !Sub '${StackName}-broker-${BrokerId}'
      Cluster: !Ref 'Cluster'
      DesiredCount: 1
      TaskDefinition: !Ref 'BrokerNodeTaskDefinition'
      NetworkConfiguration:
        AwsvpcConfiguration:
          AssignPublicIp: DISABLED
          SecurityGroups:
             - !Ref 'SecurityGroup'
             - !Ref 'ZookeeperSecurityGroup'
          Subnets:
             - !Ref 'SubnetId'
      DeploymentConfiguration:
        MaximumPercent: 100
        MinimumHealthyPercent: 0
        
Outputs:
  ConnectionString:
    Description: The connection string for this broker
    Value: !Sub '${BrokerName}${BrokerId}.${DomainName}:${ClientPort}'